[Unit]
Description=Lock X session using i3lock for user %I
Before=sleep.target
Before=suspend.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/bin/i3lock -c 6272a4
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
